body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/********* MAZE **********/

.maze--table {
    background: white;
    --border-width: 1px;
    --cell-size: 30px;
}

.maze--row {
    display: flex;
}

.maze--cell {
    font-size: calc(var(--cell-size) / 2);
    height: var(--cell-size);
    position: relative;
    width: var(--cell-size);
}

.maze--cell__block {
    background: grey;
}

.maze--wall-up {
    background: black;
    height: calc(2 * var(--border-width));
    left: calc(0px - var(--border-width));
    position: absolute;
    top: calc(0px - var(--border-width));
    width: calc(var(--cell-size) + 2 * var(--border-width));
}

.maze--wall-right {
    background: black;
    height: calc(var(--cell-size) + 2 * var(--border-width));
    right: calc(0px - var(--border-width));
    position: absolute;
    top: calc(0px - var(--border-width));
    width: calc(2 * var(--border-width));
}

.maze--wall-down {
    background: black;
    bottom: calc(0px - var(--border-width));
    height: calc(2 * var(--border-width));
    left: calc(0px - var(--border-width));
    position: absolute;
    width: calc(var(--cell-size) + 2 * var(--border-width));
}

.maze--wall-left {
    background: black;
    width: calc(2 * var(--border-width));
    left: calc(0px - var(--border-width));
    position: absolute;
    top: calc(0px - var(--border-width));
    height: calc(var(--cell-size) + 2 * var(--border-width));
}

.maze--hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
