body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/********* MAZE **********/

.maze--table {
  background: white;
}

.maze--row {
  display: flex;
}

.maze--cell {
  border: 1px solid white;
  height: 20px;
  width: 20px;
}

.maze--cell__wall-up {
  border-top: 1px solid black;
}

.maze--cell__wall-right {
  border-right: 1px solid black;
}

.maze--cell__wall-down {
  border-bottom: 1px solid black;
}

.maze--cell__wall-left {
  border-left: 1px solid black;
}
